p.section-indent {
	text-indent:2em;
}

a.copyright-link:hover {
	color: #040A10;
	text-decoration:none;
	font-size:smaller;
	margin-bottom: 10px;
}

a.copyright-link:link {
	color: #021920;
	text-decoration:none;
	font-size:smaller;
	margin-bottom: 10px;
}